# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.opendb
.vs/

Section04Challenge/x64/Debug
Section04Challenge/Section04Challenge.vcxproj
Section04Challenge/Section04Challenge.vcxproj.filters
Section04Challenge/Section04Challenge.vcxproj.user

Section07Challenge/x64/Debug
Section07Challenge/Section07Challenge.vcxproj
Section07Challenge/Section07Challenge.vcxproj.filters
Section07Challenge/Section07Challenge.vcxproj.user

Section08Challenge/x64/Debug
Section08Challenge/Section08Challenge.vcxproj
Section08Challenge/Section08Challenge.vcxproj.filters
Section08Challenge/Section08Challenge.vcxproj.user

Section09Challenge/x64/Debug
Section09Challenge/Section09Challenge.vcxproj
Section09Challenge/Section09Challenge.vcxproj.filters
Section09Challenge/Section09Challenge.vcxproj.user

Section10Assignment/x64/Debug
Section10Assignment/Section10Assignment.vcxproj
Section10Assignment/Section10Assignment.vcxproj.filters
Section10Assignment/Section10Assignment.vcxproj.user

Section10Challenge/x64/Debug
Section10Challenge/Section10Challenge.vcxproj
Section10Challenge/Section10Challenge.vcxproj.filters
Section10Challenge/Section10Challenge.vcxproj.user

Section11Challenge/x64/Debug
Section11Challenge/Section11Challenge.vcxproj
Section11Challenge/Section11Challenge.vcxproj.filters
Section11Challenge/Section11Challenge.vcxproj.user

Section12Challenge/x64/Debug
Section12Challenge/Section12Challenge.vcxproj
Section12Challenge/Section12Challenge.vcxproj.filters
Section12Challenge/Section12Challenge.vcxproj.user

Section13Challenge/x64/Debug
Section13Challenge/Section13Challenge.vcxproj
Section13Challenge/Section13Challenge.vcxproj.filters
Section13Challenge/Section13Challenge.vcxproj.user

Section14MemberwiseChallenge/x64/Debug
Section14MemberwiseChallenge/Section14MemberwiseChallenge.vcxproj
Section14MemberwiseChallenge/Section14MemberwiseChallenge.vcxproj.filters
Section14MemberwiseChallenge/Section14MemberwiseChallenge.vcxproj.user

Section14GlobalwiseChallenge/x64/Debug
Section14GlobalwiseChallenge/Section14GlobalwiseChallenge.vcxproj
Section14GlobalwiseChallenge/Section14GlobalwiseChallenge.vcxproj.filters
Section14GlobalwiseChallenge/Section14GlobalwiseChallenge.vcxproj.user

Section15Challenge/x64/Debug
Section15Challenge/Section15Challenge.vcxproj
Section15Challenge/Section15Challenge.vcxproj.filters
Section15Challenge/Section15Challenge.vcxproj.user

x64/Debug
CPPExamples.vcxproj
CPPExamples.vcxproj.filters
CPPExamples.vcxproj.user